



// Tablets & Smaller

@media(max-width:1200px) {
    #header-home {
        height: 30rem;
        .header-content {
            padding-top: 5rem;

        }
    }
}

//smartphones

@media(max-width:500px) {

    #main-nav {
        #logo {
            display: none;
        }

        flex-direction: column;
        align-items: center;

        li {
            padding: 1rem;

        }
    }

    #header {
        &-home {
            height: 10rem;
            border-bottom: 3px solid $main-color;
            background-position: 30% 80%;

            .header-content {
                display: none;
            }
        }

        &-inner {
            height: 10rem;
        }
    }

    //stack grid columns

    #home-a .specials,
    #home-b .stats,
    #home-c .process,
    #about-d .testimonials,
    #contact-b .contact-info,
    .items {
        grid-template-columns: 1fr;

    }

    #home {
        &-a {
            .specials div {
                border-bottom: 1px $light-color solid;
                padding: bottom 1rem;

                &:last-child {
                    border: none;
                    padding-bottom: 0;
                }
            }
        }

        &-b {
            .stats div {
                padding: 2rem 0 1rem 0;

            }
        }

    }

    //about page

    #about {
        &-a {
            .about-info {
                grid-template-areas:
                    'bio-image'
                    'bio'
                    'award-1'
                    'award-2'
                    'award-3';
            }
        }

        &-c {
            display: none;
        }
    }


    //contact

    #contact {
        &-a {
            .text-fields {
                grid-template-areas:
                    'name'
                    'email'
                    'subject'
                    'email'
                    'phone'
                    'message'
            }
        }

        &-b {
            div {
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px #555 solid;

                &:last-child {
                    border: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }

        &-c {
            h1 {
                font-size: 2rem;
            }
        }
    }

    //footer
    #main-footer {
        height: 7rem;

        .footer-content {
            flex-direction: column;
            padding: 1rem;
            height: 5rem;
        }
    }
}

//landscape

@media(max-height:580px) {
    #header-home {
        .header-content {
            padding-top: 3rem;
        }
    }
}



@media(max-height:330px) {
    #header-home {
        .header-content {
            h1 {
                font-size: 2rem;
            }
        }
    }
}